pkg/*
*.pyc
bin/*
.project
/.bin
/_test/secrets/*.json
._*
.DS_Store
.idea/
*.iml
.vscode
*~
\#*\#
.\#*
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
**/charts/*.tgz
.history
