environmentName: <company-name>
# useUnprivilegedContainers will pull images that do not run as root if
# using tonic provided images rather than rehosted customer images
# additionally it enforces that containers cannot run as root, uses the
# default runtime security profile, forbids privilege escalation and drops
# all SYS_CAP privileges. This setting allows tonic to run in restricted
# environments such as openshift
# NOTE setting explicit image tags in any of the tonicai services will
# overwrite the default unprivileged image tags. If you rehost unprivileged
# images then you should set useUnprivilegedContainers and tonicai service
# image tags; otherwise you only need to set this flag to true or false
useUnprivilegedContainers: false
# setting this to true will run tonic containers with a read only root
# filesystem and provides necessary emptyDir volume mounts
readOnlyRootFilesystem: false

# To enable Nvidia acceleration for the pyml container, uncomment the following
# lines and specify how many GPUs to allocate for the pod. If this feature is
# enabled then your cluster must support the nvidia.com/gpu resource.
# Additionally, if you use node taints and pod tolerances to control scheduling
# of GPU bound workloads, then you can also provide a list of tolerations the
# pyml pod should accept
#resources:
#  pyml_gpu:
#    amount: 1
#    tolerations:
#      # example toleration
#      - key: "tonic.ai/gpu"
#        operator: "Exists"
#        effect: "NoSchedule"

# tonicdb is the postgres database that will hold information about your workspace.
tonicdb:
  host: <db-host>
  port: 5432
  dbName: tonic
  user: <user>
  password: <password>
  sslMode: Require

# tonicStatisticsSeed will cause generations to be consisent with each other for anything where consistency is set to true.
# otherwise each generation will be internally consistent, but not consistent with other generations.
# add quote to integer values to get rid of helm cast large number to float64, refer to this issue: https://github.com/helm/helm/issues/1707
tonicStatisticsSeed: "<any-integer>"

# numberOfWorkers will determine how many worker containers are deployed when installing the helm chart.
numberOfWorkers: 1

# enableLogCollection will send errors and general information about generations to Tonic if true. It will not send user data.
enableLogCollection: false

# This value will be provided to you by Tonic and will allow you to authenticate against our private docker repository.
dockerConfigAuth: <docker-config-auth>

# Service account for tonic
serviceAccount:
  create: true
  annotations: {}

# You can set this to a specific Tonic version number if you wish to ensure you always get the same version. Otherwise you will always deploy the latest version of Tonic.
tonicVersion: latest

# Container repository with tonic images. If you don't use the default one you will have to copy images over before deployment
tonicai:
  web_server:
    env: {}
    envRaw: {}
    #image: quay.io/tonicai/tonic_web_server
    # Comma separated list of user emails that should be have the Admin role in Tonic.
    administrators: example@email.com,other@email.com
    annotations:
      # This annotation is only required if you are creating an internal facing ELB. Remove this annotation to create public facing ELB.
      service.beta.kubernetes.io/aws-load-balancer-internal: "true"
      service.beta.kubernetes.io/azure-load-balancer-internal: "true"
    features:
      # Enables/Disables the HostIntegrations endpoint
      host_integration_enabled: "true"
      kubernetes_role: "default"
    ports:
      httpsOnly: true
      https: 443
      http: 80
  worker:
    #image: quay.io/tonicai/tonic_worker
    env: {}
    envRaw: {}
    ports:
      httpsOnly: true
      https: 443
      http: 80
  notifications:
    image: quay.io/tonicai/tonic_notifications
  pyml_service:
    #image: quay.io/tonicai/tonic_pyml_service
#
# Enterprise License Only: Below are the settings for Single Sign On. Not every provider requires every value. The Tonic support team will help you configure this.
# tonicSsoConfig:
#   groupFilter: <regex that matches groups to import into Tonic, like .*Tonic.*>

#   AWS SSO Config
#   -----------------
#   provider: AWS
#   identityProviderId: <identity-provider-id>
#   samlIdpMetadataXml: <base64 encoded SAML metadata IDP xml>

#   Azure SSO Config
#   -----------------
#   provider: Azure
#   clientId: <client-id>
#   clientSecret: <client-secret>
#   tenantId: <tenant-id>

#   Duo SSO Config
#   -----------------
#   provider: Duo
#   clientId: <client-id>
#   clientSecret: <client-secret>
#   domain: <sso-domain>

#   Google SSO Config
#   -----------------
#   provider: Google
#   clientId: <client-id>
#   clientSecret: <client-secret>
#   domain: <sso-domain>
#   googleAccountServiceJson: <base64 encoded version of your service account json>

#   Okta SSO Config
#   -----------------
#   provider: Okta
#   authServerId: <customer auth server if you have one>
#   clientId: <client-id>
#   domain: <sso-domain>
#   identityProviderId: <identity-provider-id>

#   Keycloak SSO Config
#   -----------------
#   provider: Keycloak
#   clientId: <client-id>
#   domain: <url-of-keycloak>
#   realmId: <realm-id>


# Enterprise License Only: Configuration options for tonic-notifications.
# tonicSmtpConfig:
#   tonicUrl: <tonic URL, for links>
#   sendingAddress: <notifications@yourdomain.com>
#   smtpServerAddress: <smtp host>
#   smtpServerPort: <smtp port>
#   smtpUsername: <smtp username>
#   smtpPassword: <smtp password>


# Role used by Tonic to connect to AWS Lambda. This is needed for Snowflake and Redshift integrations.
# awsLambdaRoleArn: arn:aws:iam::<accountId>:role/<role-name>

# Your license should be configured by an admin within the Tonic UI. It can optionally be set here if there is no admin.
# tonicLicense: <license-key>
