apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: tonic-worker
  name: tonic-worker
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.numberOfWorkers }}
  selector:
    matchLabels:
      app: tonic-worker
  strategy: {}
  template:
    metadata:
      labels:
        app: tonic-worker
    spec:
      containers:
      - env:
        - name: TONIC_DB_DATABASE
          value: {{ .Values.tonicdb.dbname }}
        - name: TONIC_DB_USERNAME
          value: {{ .Values.tonicdb.user }}
        - name: TONIC_DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: tonic-db-password
              key: password
        - name: TONIC_DB_PORT
          value: {{quote .Values.tonicdb.port }}
        - name: TONIC_DB_SSLMODE
          value: {{ .Values.tonicdb.sslMode }}
        - name: TONIC_DB_HOST
          value: {{ .Values.tonicdb.host }}
        - name: TONIC_PROCESS_PARALLELISM
          value: "1"
        - name: TONIC_TABLE_PARALLELISM
          value: "1"
        - name: TONIC_WRITE_PARALLELISM
          value: "1"
          {{- if .Values.tonicStatisticsSeed }}
        - name: TONIC_STATISTICS_SEED
          value: {{quote .Values.tonicStatisticsSeed }}
          {{- end }}
        - name: ENABLE_LOG_COLLECTION
          value: {{quote .Values.enableLogCollection }}
        - name: ENVIRONMENT_NAME
          value: {{ .Values.environmentName }}
        - name: TONIC_PII_DETECTION_URL
          value: https://tonic-pii-detection:7687
        - name: TONIC_SPARK_URL
          value: https://tonic-spark-helper:5501
        - name: TONIC_NOTIFICATIONS_URL
          value: http://tonic-notifications:7000
          {{- if .Values.awsLambdaRoleArn }}
        - name: TONIC_LAMBDA_ROLE
          value: {{ .Values.awsLambdaRoleArn }}
          {{- end }}
        image: {{ .Values.tonic.image.worker }}:{{ .Values.tonicVersion }}
        imagePullPolicy: Always
        name: tonic-worker
        ports:
        - containerPort: 80
        - containerPort: 443
        resources: {}
        livenessProbe:
          httpGet:
            path: /health
            port: 80
          initialDelaySeconds: 60
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 80
          initialDelaySeconds: 10
          periodSeconds: 10
      restartPolicy: Always
      imagePullSecrets:
      - name: tonicai-build-writer-pull-secret
      serviceAccountName: ""
      volumes: null
status: {}
