apiVersion: apps/v1
kind: Deployment
metadata:
  name: tonic-pii-detection
  namespace: {{ .Release.Namespace }}
  labels:
    app: tonic-pii-detection  
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tonic-pii-detection
  strategy: {}
  template:
    metadata:
      labels:
        app: tonic-pii-detection
    spec:
      containers:
      - env:
        - name: ENABLE_LOG_COLLECTION
          value: {{quote .Values.enableLogCollection }}
        - name: ENVIRONMENT_NAME
          value: {{ .Values.environmentName }}
        {{- if  ((.Values.tonicai).pii_detection).image }}
        image: {{ .Values.tonicai.pii_detection.image }}:{{ .Values.tonicVersion }}
        {{ else }}
        image: quay.io/tonicai/tonic_pii_detection:{{ .Values.tonicVersion }}
        {{- end }}
        imagePullPolicy: Always
        name: tonic-pii-detection
        ports:
        - containerPort: 7687
        resources:
          limits:
            memory: "512Mi"
          requests:
            memory: "512Mi"
            ephemeral-storage: "1Gi"
        livenessProbe:
          httpGet:
            path: /health
            port: 7687
            scheme: HTTPS
          initialDelaySeconds: 60
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 7687
            scheme: HTTPS
          initialDelaySeconds: 10
          periodSeconds: 10
      restartPolicy: Always
      imagePullSecrets:
      - name: tonicai-build-writer-pull-secret
      serviceAccountName: {{ template "tonic.serviceAccountName" . }}