{{- if .Values.tonicai }}
{{- if .Values.tonicai.oracle_helper }}
{{ $image := "" }}
{{- if or (.Values.tonicai.oracle_helper.version) (.Values.tonicai.oracle_helper.image) }}
{{- if ((.Values.tonicai).oracle_helper).image }}
{{- $image = .Values.tonicai.oracle_helper.image }}
{{- else }}
  {{- if .Values.useUnprivilegedContainers }}
  {{ $image = "quay.io/tonicai/tonic_oracle_helper_{{ .Values.tonicai.oracle_helper.version }}_unprivileged" }}
  {{- else }}
    {{ $image = "quay.io/tonicai/tonic_oracle_helper_{{ .Values.tonicai.oracle_helper.version }}" }}
  {{- end }}
{{- end }}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: tonic-oracle-helper
  name: tonic-oracle-helper
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    matchLabels:
      app: tonic-oracle-helper
  strategy: {}
  template:
    metadata:
      labels:
        app: tonic-oracle-helper
    spec:
      securityContext:
        {{- if .Values.useUnprivilegedContainers }}
        seccompProfile:
          type: RuntimeDefault
        runAsNonRoot: true
        {{- end }}
      volumes:
        {{- if .Values.readOnlyRootFilesystem }}
        - name: tmp
          emptyDir: {}
        {{- end }}
      containers:
      - securityContext:
          {{- if .Values.useUnprivilegedContainers }}
          allowPrivilegeEscalation: false
          capabilities:
            drop: ["ALL"]
          {{- end }}
          {{- if .Values.readOnlyRootFilesystem }}
          readOnlyRootFilesystem: true
          {{- end }}
        volumeMounts:
          {{- if .Values.readOnlyRootFilesystem }}
          - name: tmp
            mountPath: /tmp
          {{- end }}
        env:
          - name: ENABLE_LOG_COLLECTION
            value: {{quote .Values.enableLogCollection }}
          - name: ENVIRONMENT_NAME
            value: {{ .Values.environmentName }}
          {{- if  ((.Values.tonicai).oracle_helper).lang }}
          - name: NLS_LANG
            value: {{ .Values.tonicai.oracle_helper.lang }}
          {{- end }}
        image: {{ $image }}:{{ .Values.tonicVersion }}
        imagePullPolicy: Always
        name: tonic-oracle-helper
        ports:
          - containerPort: 5000
          - containerPort: 5001
        resources:
          limits:
            memory: "2Gi"
          requests:
            memory: "1Gi"
            ephemeral-storage: "1Gi"
        livenessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 60
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 10
          periodSeconds: 10
      restartPolicy: Always
      imagePullSecrets:
        - name: tonicai-build-writer-pull-secret
      serviceAccountName: {{ template "tonic.serviceAccountName" . }}
status: {}
{{- end }}
{{- end }}
{{- end }}
